<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main class="flex-center">
        <h2>Spotify Coverflow Player</h2>
        <!-- FUTURE: Add Spotify Intro + Logo? -->
        <form id="search-form" action="/spotify/search" method="post">
            <label for="searchbar">Search</label>
            <input id="search-bar" name="searchbar" type="search" required>
            <button type="submit">Search</button>
        </form>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

</body>

</html>
