<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main class="flex-center">
        <h2>Deezer Coverflow Player</h2>
        <button onclick="window.location.href = '/deezer/login'">Login to Deezer</button>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

</body>

</html>
