<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main class="flex-center">
        <h2>Deezer Coverflow Player</h2>
        <!-- FUTURE: Add Deezer Intro + Logo? -->
        <button onclick="window.location.href = '/deezer/album'">View Album</button>
        <button onclick="window.location.href = '/deezer/artist'">View Artist</button>
        <!-- FUTURE: Search for different things? -->
        <button onclick="window.location.href = '/deezer/search'">Search</button>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

</body>

</html>
