<h1><a href="/">Spotify Colorflow</a></h1>
<nav role="navigation">
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/album">Album</a></li>
        <li><a href="/search-results">Search Results</a></li>
    </ul>
        </nav>
