<div class="flex-row-center">
    <h1><a href="/">Colorflow Player</a></h1>
    <button type="button" onclick="window.location.href='/analytics/login'" value="Analytics">Analytics</button>
</div>
<nav role="navigation">
    <ul>
        <li><a href="/spotify/login">Spotify</a></li>
        <li><a href="/deezer">Deezer</a></li>
    </ul>
</nav>
<% if (result.images[1]) { %>
<img src="<%= result.images[1].url %>" />
<% } else { %>
