/* Deezer CSS */

/* TODO: Responsiveness */

/* CSS Variables */
:root {
    --main-color: #ffffff;
    --header-color: #ffffff;
    --accent-color: #eaeaea;
    --text-color: #191919;
    --border: 1px solid var(--accent-color);
}

/* HTML Element Styling */
body,
main {
    background: var(--main-color);
    font-family: "Open Sans", sans-serif;
}

header,
footer {
    background: var(--header-color);
    border: 1px solid var(--accent-color);
}

section {
    width: 100%;
    margin-bottom: 5%;
}

h1,
h2,
h3,
h4,
p,
nav a,
a,
li,
label,
button,
input[type="search"],
footer p {
    color: var(--text-color);
}

h1,
h2,
h3,
button,
nav a,
footer p {
    font-family: "DM Sans", sans-serif;
}

h4 {
    font-weight: normal;
}

/* Icon Styling */
.la-arrow-circle-left {
    position: relative;
    right: 10vw;
}

.la-arrow-circle-left:hover {
    cursor: pointer;
}

.la-play-circle,
.la-pause-circle,
.la-arrow-circle-left {
    color: var(--text-color);
}

/* Deezer Form Styling */
input[type="search"],
button {
    background: var(--accent-color);
    border-color: var(--text-color);
}

input[type="search"]:focus,
button:hover {
    background: var(--text-color);
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* Deezer Section CSS */
section .flex-row {
    width: 90%;
    margin: 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#songs .flex-row {
    justify-content: space-between;
}

/* Deezer Track Border CSS */
#songs .flex-row {
    border-top: var(--border);
    border-bottom: var(--border);
}

#songs .flex-row:first-of-type {
    border-top: none;
}

#songs .flex-row:last-of-type {
    border-bottom: none;
}

#songs .flex-row:not(#search-results #songs .flex-row) {
    border-color: var(--text-color);
}

/* Deezer Card CSS */
.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin: 5%;
}

.card {
    box-sizing: border-box;
    padding: 2.5%;
    margin: 2.5% 0;
}

.card a,
#songs a {
    text-decoration: none;
}

.card p {
    margin-left: 0;
}

.card img {
    border-radius: 4px;
}

/* Deezer Image CSS */
#artists img,
#artist img {
    border-radius: 50%;
}

#artists img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

#album img {
    margin-top: 5%;
}

#artists .la-user-circle {
    display: flex;
    justify-content: center;
}

#artist-stats,
#playlist,
#album {
    text-align: center;
}

#artist-stats p:first-of-type {
    padding-bottom: 2.5%;
}

#albums h4 {
    word-wrap: break-word;
}

#playlist img {
    margin-top: 5%;
}

#songs,
playlists img {
    width: 100%;
    height: auto;
}

.fallback-album {
    width: 64px;
    height: 64px;
}
