/* CSS Variables */

:root {
    --main-color: #ffd633;
}

/* Main Elements */

html,
body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

body,
input[type=search] {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

header,
footer {
    width: 100%;
    background: var(--main-color);
}

footer {
    padding: 1% 0;
    flex-shrink: 0;
}

footer p {
    font-weight: bold;
}

nav {
    margin: 2.5% 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    font-weight: bold;
}

main {
    max-width: 100%;
    margin: 5% 0;
}

h2 {
    margin: 5% 0;
}

a {
    color: #000000;
}

p {
    margin: 0 5%;
    line-height: 140%;
}

main li {
    margin: 5% 0;
}

h1,
h2,
h3,
footer p,
.text-center {
    color: #000000;
    text-align: center;
}

/* Track Styling */

.flex-row p {
    color: #fff;
}

/* Flex Classes */
.flex-center {
    max-width: 100vw;
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}

#album-art {
    margin-bottom: 5%;
}

/* Form Styling */

input[type=search] {
    width: 50%;
    border: 3px solid var(--main-color);
    border-right: none;
    padding: 10px;
    height: auto;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
}

input[type=search]:focus {
    color: #000000;
}

button[type=submit] {
    width: 40px;
    height: auto;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Utility Classes */

.full-width {
    margin: 0;
}

.no-bottom {
    margin-bottom: 0;
}

.half img {
    width: 50%;
    height: 100%;
    cursor: pointer;
}


/* Other Classes */

.book-result {
    width: 98px;
    height: 148px;
    margin: 0 10px;
}

#booksearch {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
