/* Global CSS */

/* CSS Variables */
:root {
    --main-color: #32392f;
    --header-color: #cc0707;
    --text-color: #ffffff;
}

/* Custom Webfonts */
@font-face {
    font-family: "Squealer";
    src: url("/css/fonts/squealer.woff2");
}

/* Main Elements */

html,
body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

body,
input[type="search"] {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

header,
footer {
    width: 100%;
    background: var(--header-color);
}

header button {
    display: block;
    position: absolute;
    right: 5%;
}

h1,
h2,
h3,
p,
li,
a,
input[type="search"],
input[type="search"]:focus {
    color: var(--text-color);
}

footer {
    padding: 1% 0;
    flex-shrink: 0;
}

footer p {
    font-weight: bold;
}

nav {
    margin: 2.5% 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    max-width: 100%;
    padding: 5% 0;
    background: var(--main-color);
}

main li {
    margin: 5% 0;
}

main p {
    margin: 2.5% 5%;
}

h2 {
    font-size: 1.75rem;
    margin: 5% 0;
}

p {
    margin: 0 5%;
    line-height: 140%;
}

h1,
h2,
h3,
button,
nav a,
footer p {
    font-family: Squealer, sans-serif;
}

h1,
h2,
h3,
footer p,
.text-center {
    text-align: center;
}

/* Flex Classes */

.flex-center {
    max-width: 100vw;
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}

/* Form Styling */

input[type="search"] {
    width: auto;
    border: 3px solid var(--main-color);
    padding: 10px;
    height: auto;
    border-radius: 5px;
    outline: none;
}

input[type="search"] {
    width: 30vw;
    margin-top: 5vh;
    margin-right: 14vh;
}

option {
    border-color: #fff;
    border-radius: 20px;
}

button {
    width: auto;
    height: auto;
    padding: 1% 2.5%;
    margin: 2.5% 0;
    border: 3px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background: var(--header-color);
    color: var(--text-color);
    border-color: var(--main-color);
    cursor: pointer;
}

/* Utility Classes */

.full-width {
    width: 100%;
    margin: 0;
}

.no-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.half img {
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}