/* Global Spotify CSS */

body,
main {
    background: #121212;
    font-family: "Raleway", sans-serif;
}

header {
    background: #000000;
}

footer {
    background: #181818;
}

section {
    width: 100%;
    margin-bottom: 5%;
}

h1,
h2,
h3,
h4,
p,
a,
footer p,
.la-play-circle {
    color: #fff;
}

/* Spotify Card/Section CSS */

section .flex-row {
    width: 90%;
    margin: 0 5%;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    background: #282828;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 2.5%;
    margin: 2.5% 0;
}

.card:hover {
    background: #333;
}

.card a,
#songs a {
    text-decoration: none;
}

.card p {
    color: #ccc;
    margin-left: 0;
}

#artists img,
#artist img {
    border-radius: 50%;
}

#artists img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

#artists .la-user-circle {
    display: flex;
    justify-content: center;
}

#artist-stats {
    text-align: center;
}

#artist-stats p:first-of-type {
    padding-bottom: 2.5%;
}

#artists .card,
#albums .card,
#playlists .card {
    width: 27.5vw;
    height: 80vh;
}

#albums h4 {
    word-wrap: break-word;
}

#playlists img {
    width: 100%;
    height: auto;
}
