/* Spotify CSS */

/* TODO: Responsiveness */

/* CSS Variables */
:root {
    --main-color: #121212;
    --header-color: #181818;
    --accent-color: #000000;
    --text-color: #ffffff;
}

/* HTML Element Styling */
body,
main {
    background: var(--main-color);
    font-family: "Raleway", sans-serif;
}

header,
footer {
    background: var(--header-color);
}

section {
    width: 100%;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
p,
nav a,
a,
li,
label,
button,
input[type="search"],
footer p {
    font-family: "Raleway", sans-serif;
    color: var(--text-color);
}

/* Icon Styling */
.la-arrow-circle-left {
    position: relative;
    right: 10vw;
}

.la-arrow-circle-left:hover {
    cursor: pointer;
}

.la-play-circle,
.la-pause-circle,
.la-arrow-circle-left {
    color: var(--text-color);
}

/* Spotify Form Styling */
input[type="search"],
button {
    background: var(--accent-color);
    border-color: var(--text-color);
}

input[type="search"]:focus,
button:hover {
    background: var(--text-color);
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* Spotify Section Styling */
section .flex-row {
    width: 90%;
    margin: 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#songs {
    width: 100%;
    height: auto;
}

/* Spotify Card Styling */
.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin: 5%;
}

#songs .grid-row {
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    align-items: center;
    justify-items: center;
    margin: 5% 0;
}

.card {
    box-sizing: border-box;
    background: #282828;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5%;
    margin: 2.5% 0;
}

.card:hover {
    background: #333;
}

.card img {
    display: block;
    width: 275px;
    height: 275px;
    margin: 2.5% auto;
}

.card a,
#songs a {
    text-decoration: none;
}

.card h4 {
    word-wrap: break-word;
    padding-top: 2.5%;
}

.card p {
    color: #ccc;
    margin-left: 0;
}

/* Spotify Image Styling */
#artists img,
#artist img {
    border-radius: 50%;
}

#artists .la-user-circle {
    display: flex;
    justify-content: center;
}

#artist .fallback-album {
    width: 64px;
    height: 64px;
}

#album img:not(.card img),
#playlist img:not(.card img) {
    margin-top: 2.5%;
}

/* Spotify Section Text Styling */
#artist-stats,
#playlist,
#album {
    text-align: center;
}

#artist-stats p:first-of-type {
    padding-top: 2.5%;
}
