<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header><%- include('../partials/header') %></header>

        <main class="flex-center no-bottom">
            <h2>Whoops, we couldn't find the page you were looking for.</h2>
            <p>
                Perhaps you wanted to search <a href="/spotify">Spotify</a> or <a href="/deezer">Deezer</a> for a song,
                album, playlist or artist?
            </p>
            <p>Alternatively, you could go back to the <a href="/">homepage</a>.</p>

            <img class="small-border" src="/img/404-image.jpg" alt="Spilt Ice Cream" />
        </main>

        <footer><%- include('../partials/footer') %></footer>
    </body>
</html>