<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main class="flex-center">
        <h2>Choose between Spotify and Apple Music</h2>
        <button onclick="window.location.href = '/spotify'">Spotify</button>
        <button onclick="window.location.href = '/apple-music'">Apple Music</button>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>
