<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Analytics Dashboard - Colorflow Player</title>
    </head>

    <body>
        <header><%- include('../../partials/header') %></header>

        <main class="flex-center no-bottom">
            <h2>Analytics Dashboard</h2>
            <p>See how the Spotify and Deezer versions of Colorflow Player compare.</p>
        </main>

        <footer><%- include('../../partials/footer') %></footer>
    </body>
</html>
