<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Analytics Login - Colorflow Player</title>
    </head>

    <body>
        <header><%- include('../partials/header') %></header>

        <main class="flex-center">
            <p>
                Colorflow Player is a Node.js music streaming app (Spotify and Deezer) where the background color of all
                views changes to match the predominate color of the album or playlist artwork. This style is called
                ColorFlow.
            </p>
            <h2>Features</h2>
            <ul>
                <li>Spotify (30s previews) and Deezer Streaming</li>
                <li>Beautiful Colorflow-inspired album and playlist views</li>
                <li>Branded Spotify and Deezer UI</li>
                <li>Search for tracks, albums, artists or playlists</li>
            </ul>
            <h2>Choose between Spotify and Deezer</h2>
        </main>

        <footer><%- include('../partials/footer') %></footer>
    </body>
</html>