<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Analytics Register - Colorflow Player</title>
    </head>

    <body>
        <header><%- include('../../partials/header') %></header>

        <main class="flex-center">
            <h2>Register to Access Analytics</h2>
            <form id="register-form" action="/analytics/register" method="post">
                <div class="flex-row-around">
                    <p><%- error %></p>
                </div>
                <label for="username">Username:</label>
                <input name="username" type="text" placeholder="Create a username" required />
                <label for="password">Password:</label>
                <input name="password" type="password" placeholder="Create a password" required />
                <button type="submit" value="Register">Register</button>
                <div class="flex-row-around">
                    <p>Already have an account? <a href="/analytics/login">Login</a> instead.</p>
                </div>
            </form>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>
